body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  

  .fixed-header {
    background-color: black;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; Add padding to the left and right */
  }


.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 10vw;
    margin-right: 10vw;
  }
  
  .left-logo, .right-logo {
    height: 10vh; /* Adjust as needed */
    width: 150px;
  }
  
  .main-content {
    margin-top: 12vh; /* Adjust based on header height */
    font-size: small;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin: 2vw;
}

.content {
    max-width: 50%;
}

h1 {
    font-size: 3.0em;
    margin: 0;
    line-height: 1.2;
    color: #2C0735;
}

.highlight {
    color: #40c232;
}

.subheading {
    color: #777777;
    margin: 20px 0;
}

.download-btn {
    background-color: #40c232;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
}

.image-container {
    max-width:100px;
    height: 200px;
}

.app-image {
    width: 100%;
    height: auto;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* background-color: #F9F9F9; */
    text-align: center;
}

.stat-item h2 {
    margin: 0;
    font-size: 2em;
    color: #2C0735;
}

.stat-item p {
    color: #777777;
}

.youtube{
    margin-top: 2vh;
    margin-left: 8vw;
    margin-right: 8vw;
}

.youtubevideo{
    height: 40vh;
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.youtubevideo iframe {
   
    width: 100%;  /* Fills the entire container width */
    height: 100%; /* Fills the entire container height */
  }
  .carouselo{
    margin: 150px;
    margin-top: 50px;
}
.carousel-container {
    overflow: hidden;
    width: 80%; /* Adjust width as needed */
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    margin-right: 10px; /* Adjust spacing between items */
    
  }
  
  .carousel-item img {
    max-width: 10vw; /* Ensure images do not exceed container width */
    height: auto;
    display: block;
  }
  
  .carousel-item.center {
    transform: scale(1.2); /* Example: Increase size of the center item */
  }
  